.bg {
    background-image: url("https://www.pexels.com/photo/flat-lay-photography-of-vegetable-salad-on-plate-1640777/");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}